/data/*
data/Raw/foodbase.zip
.idea
/venv/*
!/venv/lib/python3.9/site-packages/prodigy/
/tpsl
/archive
/__pycache__/*
*.pyc
/recipe_parsing/__pycache__/*
/recipe_parsing/log/*
!/recipe_parsing/log/.gitkeep
recipe_parsing/temp
prodigy-gui/__pycache__
